@page "/weatherforecast"
@using WeatherBlazor.Models
@inject HttpClient Http

<div>Hei</div>

<input @bind="_city" placeholder="Se værmelding for ..."/>

<button @onclick="GetWeatherForecast">Vis værmelding</button>

@if (_weatherData != null)
{
    <div>Sted: @_weatherData.City</div>
    <div>Temperatur: @_weatherData.Temperature°C</div>
    <div>Føles som: @_weatherData.FeelsLike</div>
    <div>@_weatherData.Description</div>
    <div>Vær: @_weatherData.Condition</div>
    <div>Luftfuktighet: @_weatherData.Humidity</div>
    <div>Vind: @_weatherData.WindSpeed, @_weatherData.WindDirection</div>
}

@code {
    private string? _city;
    private WeatherData? _weatherData;

    private async Task GetWeatherForecast()
    {
        try
        {
            var apiUrl = $"https://localhost:7291/api/weather/{_city}";
            Console.WriteLine($"Kaller API: {apiUrl}");

            var response = await Http.GetAsync(apiUrl);
            
            if (!response.IsSuccessStatusCode)
            {
                Console.WriteLine($"Feil fra API: {response.StatusCode}");
                return;
            }

            var json = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"API-respons: {json}");

            _weatherData = await response.Content.ReadFromJsonAsync<WeatherData>();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }

}